---
---
// Variables:
$grid-float-breakpoint: 992px;
$screen-sm: 768px;

//base
.first {
	padding-left: 0;
}

img {
	max-width: 100%;
}

.bs-docs-sidebar {
	.nav {
		.nav {
			display: none;
			padding-bottom: 10px;

			li > a {
				padding: 10px 10px 10px 30px;
			}

		}
		& > .active > ul {
			display: block;
		}
		& > li > a {
			line-height: 1;
			padding: 15px;
		}
	}
}



#promo-til {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	top: 0;
}

#promo {
	background: rgba(255, 255, 255, 0.05);
	border: solid 1px rgba(255, 255, 255, 0.25);
	border-radius: 0.5em;
	padding: 1.75em 2.5em 1.75em 2.5em;
	display: inline-block;
	position: relative;
	z-index: 10;
}

#promo h2 {
	display: inline-block;
	margin-right: 1em;
	font-size: 1.75em;
	color: #fff;
}

#promo .button {
	background: #fff;
	border-color: rgba(255, 255, 255, 0);
	color: #27636B;
	font-size: 1.25em;
}



.pager {
	li {
		float: left;
		&.next {
			float: right;
		}
	}
}
