<form role="form" id="id-form-signup" action="http://w4c.herokuapp.com/api/signup/" method="POST">
  <div class="form-group">
    <label for="name-input">Name</label>
    <input type="text" class="form-control" name="name" id="name-input" placeholder="What should we call you?">
  </div>
  <div class="form-group">
    <label for="email-input">Email address</label>
    <input type="email" class="form-control" name="email" id="email-input" placeholder="Where should we send you very important messages?">
  </div>
  <button type="submit" class="btn btn-default">Sign Up</button>
</form>
